# History files
.Rhistory
.Rapp.history

# Session Data files
.RData

# User-specific files
.Ruserdata

# Example code in package build process
*-Ex.R

# Output files from R CMD build
/*.tar.gz

# Output files from R CMD check
/*.Rcheck/

# RStudio files
.Rproj.user/

# produced vignettes
vignettes/*.html
vignettes/*.pdf

# OAuth2 token, see https://github.com/hadley/httr/releases/tag/v0.3
.httr-oauth

# knitr and R markdown default cache directories
*_cache/
/cache/

# Temporary files created by R markdown
*.utf8.md
*.knit.md

# R Environment Variables
.Renviron

# Mac files
.DS_Store

# Globorisk files
globorisk/

# proprietary data files
0_data/Selected studies with TC and HDL or LDL and treatment.RDS

# latex files
4_manuscripts/main.aux
4_manuscripts/main.bbl
4_manuscripts/main.bcf
4_manuscripts/main.blg
4_manuscripts/main.fdb_latexmk
4_manuscripts/main.fls
4_manuscripts/main.log
4_manuscripts/main.out
4_manuscripts/main.pdf
4_manuscripts/main.ptc
4_manuscripts/main.synctex.gz
4_manuscripts/main.bbl
4_manuscripts/main.run.xml
4_manuscripts/main.lot
4_manuscripts/main.toc

4_manuscripts/supplement.aux
4_manuscripts/supplement.bbl
4_manuscripts/supplement.bcf
4_manuscripts/supplement.blg
4_manuscripts/supplement.fdb_latexmk
4_manuscripts/supplement.fls
4_manuscripts/supplement.log
4_manuscripts/supplement.out
4_manuscripts/supplement.pdf
4_manuscripts/supplement.ptc
4_manuscripts/supplement.synctex.gz
4_manuscripts/supplement.bbl
4_manuscripts/supplement.run.xml
4_manuscripts/supplement.lot
4_manuscripts/supplement.toc

4_manuscripts/timeline.aux
4_manuscripts/timeline.bbl
4_manuscripts/timeline.bcf
4_manuscripts/timeline.blg
4_manuscripts/timeline.fdb_latexmk
4_manuscripts/timeline.fls
4_manuscripts/timeline.log
4_manuscripts/timeline.out
4_manuscripts/timeline.pdf
4_manuscripts/timeline.ptc
4_manuscripts/timeline.synctex.gz
4_manuscripts/timeline.bbl
4_manuscripts/timeline.run.xml
4_manuscripts/timeline.lot
4_manuscripts/timeline.toc
.Rproj.user
.Rdata

# archive folders
__archive/

0_data/*.RDS

drafts/
